$z-indexes: (
	'audio-gallery',
	'collection-list',
	'group-navigation',
	'collection-menu',
	'collection-drop-name',
	'audio-player',
	'windows',
	'assistant',
	'downloads',
	'bottombar',
	'copyright',
	'login',
	'text-cursor'
);

/**
 * returns the array-index of the passed string-name
 */
@function get-z($of) {
	@return index($z-indexes, $of);
}
