.login {
	position: absolute;
	z-index: get-z('login');
	height: 100vh;
	width: 100%;

	display: grid;
	place-items: center;

	overflow: hidden;
	color: var(--color-ss-blush);
	// background-color: var(--color-ss-blue);

	font-size: 8vw;
	line-height: 0.9;
	font-weight: 500;
	text-transform: uppercase;

	transition: background-color 0s 2s;

	&--background {
		transition: background-color 0s;
		background-color: var(--color-ss-blue);
	}

	h1 {
		font-size: 17.5vh;
		line-height: 0.8;
		word-break: break-word;
		hyphens: auto;
		width: 4em;
		user-select: none;
	}
}

.login-input {
	display: flex;
	align-items: center;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	text-align: center;

	background-size: cover;

	font-size: 7vw;
	letter-spacing: 0;

	input {
		opacity: 0;
		position: fixed;
	}

	@keyframes fade-out {
		to {
			opacity: 0;
		}
	}
	@keyframes fade-in {
		to {
			opacity: 1;
		}
	}

	&__welcome {
		animation: fade-out 1s 2s forwards;
	}

	&__all {
		opacity: 0;
		animation: fade-in 1s 2s forwards;
	}

	.form {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 100%;

		@include mq($from: screen-md) {
			margin-bottom: 0;
		}

		h1 {
			font-size: 1em;
			max-width: 10.3em;
			display: inline-block;
		}

		button {
			font-family: $font-sansserif;
			color: var(--color-secondary);

			@include windowtitle();
			background-color: var(--color-primary);
			padding: rem(10);

			svg {
				display: inline-flex;
				width: rem(80);
				height: rem(80);
				fill: currentColor;
			}

			&.is-invalid {
				color: $color-black;
				background-color: $color-red;
			}
		}
	}

	@keyframes blink {
		0% {
			opacity: 0;
		}

		49% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		100% {
			opacity: 1;
		}
	}

	&__message {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;

		span {
			animation: blink 1.5s infinite linear;
			font-size: 2em;
			margin-top: -0.5em;
		}
	}
}

.intro-copenhill {
	position: absolute;
	inset: 0;

	cursor: pointer;

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: cover;
		inset: 0;
	}

	&__text {
		--duration: 1s;
		--delay: 0.8s;
		--animation-ease: ease-in-out;

		position: absolute;
		inset: 0;
		user-select: none;

		span {
			display: inline-block;
		}

		> span {
			position: absolute;
			font-size: 80px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			@include mq(screen-md) {
				font-size: 210px;
			}
		}

		.higher {
			display: inline-flex;
			color: var(--color-ss-blue);

			&--animation {
				opacity: 0;
				animation: {
					name: higher;
					duration: var(--duration);
					delay: var(--delay);
					timing-function: var(--animation-ease);
					fill-mode: forwards;
				}

				.outro & {
					opacity: 1;
					animation-name: higher-out;
				}
			}

			&--translate {
				transform: translate(-37px, -71px);

				@include mq(screen-md) {
					transform: translate(-53px, -154px);
				}
			}

			&--rotate {
				transform: rotate(-28deg);
			}
		}

		.love {
			display: inline-flex;
			color: var(--color-ss-yellow);
			writing-mode: vertical-rl;
			text-orientation: upright;
			letter-spacing: -0.4em;

			&--animation {
				opacity: 0;
				animation: {
					name: love;
					duration: var(--duration);
					delay: calc(var(--delay) * 3);
					timing-function: var(--animation-ease);
					fill-mode: forwards;
				}

				.outro & {
					opacity: 1;
					animation-name: love-out;
				}
			}

			&--translate {
				transform: translate(151px, -60px);

				@include mq(screen-md) {
					transform: translate(399px, -138px);
				}
			}
		}

		.ganni {
			display: inline-flex;
			color: var(--color-ss-blush);

			&--animation {
				opacity: 0;
				animation: {
					name: ganni;
					duration: var(--duration);
					delay: 0;
					timing-function: var(--animation-ease);
					fill-mode: forwards;
				}

				.outro & {
					opacity: 1;
					animation-name: ganni-out;
				}
			}

			&--translate {
				transform: translate(-63px, 52px);

				@include mq(screen-md) {
					transform: translate(-171px, 155px);
				}
			}
		}

		.ss22 {
			color: white;
			display: inline-flex;
			align-items: flex-start;
			white-space: nowrap;

			&--animation {
				opacity: 0;
				animation: {
					name: ss;
					duration: var(--duration);
					delay: calc(var(--delay) * 2);
					timing-function: var(--animation-ease);
					fill-mode: forwards;
				}

				.outro & {
					opacity: 1;
					animation-name: ss-out;
				}
			}

			&--translate {
				transform: translate(95px, -8px);

				@include mq(screen-md) {
					transform: translate(250px, -10px);
				}
			}

			.small {
				transform: scale(0.7);
				transform-origin: 100% 30%;
			}

			&--rotate {
				transform: rotate(90deg);
			}
		}
	}

	// &.outro {

	// }
}
