@keyframes higher {
	from {
		transform: translate(-160vw, 88vw);

		@include mq(screen-md) {
			transform: translate(-79vw, 44vw);
		}
	}
}

@keyframes higher-out {
	to {
		transform: translate(-179vw, 144vw);

		@include mq(screen-md) {
			transform: translate(-79vw, 44vw);
		}
	}
}

@keyframes love {
	from {
		transform: translateY(-163vw);

		@include mq(screen-md) {
			transform: translateY(-63vw);
		}
	}
}

@keyframes love-out {
	to {
		transform: translateY(-163vw);

		@include mq(screen-md) {
			transform: translateY(-63vw);
		}
	}
}

@keyframes ganni {
	from {
		transform: translateX(-203vw);

		@include mq(screen-md) {
			transform: translateX(-103vw);
		}
	}
}

@keyframes ganni-out {
	to {
		transform: translateX(-203vw);

		@include mq(screen-md) {
			transform: translateX(-103vw);
		}
	}
}

@keyframes ss {
	from {
		transform: translateY(163vw);

		@include mq(screen-md) {
			transform: translateY(63vw);
		}
	}
}

@keyframes ss-out {
	to {
		transform: translateY(163vw);

		@include mq(screen-md) {
			transform: translateY(63vw);
		}
	}
}
