@keyframes higher {
	0% {
		transform: translate(-160vw, 88vw);
	}
	1%,
	100% {
		opacity: 1;
	}
}

@include mq(screen-md) {
	@keyframes higher {
		0% {
			transform: translate(-79vw, 44vw);
		}
		1%,
		100% {
			opacity: 1;
		}
	}
}

@keyframes higher-out {
	to {
		transform: translate(-179vw, 144vw);
	}
}

@include mq(screen-md) {
	@keyframes higher-out {
		to {
			transform: translate(-79vw, 44vw);
		}
	}
}

@keyframes love {
	0% {
		transform: translateY(-163vw);
	}
	1%,
	100% {
		opacity: 1;
	}
}

@include mq(screen-md) {
	@keyframes love {
		0% {
			transform: translateY(-63vw);
		}
		1%,
		100% {
			opacity: 1;
		}
	}
}

@keyframes love-out {
	to {
		transform: translateY(-163vw);
	}
}

@include mq(screen-md) {
	@keyframes love-out {
		to {
			transform: translateY(-63vw);
		}
	}
}

@keyframes ganni {
	0% {
		transform: translateX(-203vw);
	}
	1%,
	100% {
		opacity: 1;
	}
}

@include mq(screen-md) {
	@keyframes ganni {
		0% {
			transform: translateX(-103vw);
		}
		1%,
		100% {
			opacity: 1;
		}
	}
}

@keyframes ganni-out {
	to {
		transform: translateX(-203vw);
	}
}
@include mq(screen-md) {
	@keyframes ganni-out {
		to {
			transform: translateX(-103vw);
		}
	}
}

@keyframes ss {
	0% {
		transform: translateY(163vw);
	}
	1%,
	100% {
		opacity: 1;
	}
}

@include mq(screen-md) {
	@keyframes ss {
		0% {
			transform: translateY(63vw);
		}
		1%,
		100% {
			opacity: 1;
		}
	}
}

@keyframes ss-out {
	to {
		transform: translateY(163vw);
	}
}

@include mq(screen-md) {
	@keyframes ss-out {
		to {
			transform: translateY(63vw);
		}
	}
}
